<head>
  <meta charset="UTF-8" />
  <title>Hello Heroku!</title>
  {{! Figure out which CSS framework you want to use and just link it }}
  {{! Then, link your CSS from your public folder }}
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header>
    <h1 class="content">Hello World!</h1>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
    <p class="content">Put you group members' names here!</p>
  </footer>
</body>